// @import "_colors2.scss";
// @import "_colors.scss";
@use "_colors" as color;
@use "_colors2" as color2;

body {
  margin: 0;
  color: color.$color3;
  background-color: color2.$color4;
  h1 {
    font-size: 2rem;
  }

  a {
    text-decoration: double;
  }
}
.productcard {
  max-width: min-content;
  background-color: color.$color2;
  padding: 1rem;

  a {
    color: color.$color1;
  }

  > h2 {
    color: pink;
  }
}

@mixin customFun($color) {
  background-color: aqua;
  padding: 10px;
  border: rebeccapurple;
  cursor: pointer;
}
.p1 {
  @include customFun(color.$color1);
}

.p2 {
  @include customFun(color2.$color2);
}

.p3 {
  @include customFun(color.$color3);
}

.quoted-text {
  content: quote("Hello");
}

.quoted-text {
  content: str-index("Hello world!", "H");
}

.quoted-text {
  content: str-insert("Hello world!", " wonderful", 6);
}
.quoted-text {
  content: str-length("Hello world!");
}
.quoted-text {
  content: str-slice("Hello world!", 2, 5);
}
.quoted-text {
  content: to-lower-case("Hello World!");
}
.quoted-text {
  content: unique-id();
}
.quoted-text {
  content: unquote("Hello world!");
}

.quoted-text {
  content: abs(-15);
}

.quoted-text {
  content: ceil(15.2);
}
.quoted-text {
  content: acomparable(15px, 10px);
}
.quoted-text {
  content: comparable(35px, 2em);
}

.quoted-text {
  content: floor(15.8);
}
.quoted-text {
  content: max(5, 7, 9, 0, -3, -7);
}
.quoted-text {
  content: min(5, 7, 9, 0, -3, -7);
}

.quoted-text {
  content: percentage(1.2);
}
.quoted-text {
  content: random();
}
.quoted-text {
  content: random(6);
}

.quoted-text {
  content: round(15.2);
}

.quoted-text {
  content: append((a b c), d);
}

.quoted-text {
  content: index(a b c, b);
}

.quoted-text {
  content: is-bracketed([a b c]);
}
.quoted-text {
  content: is-bracketed(a b c);
}

.quoted-text {
  content: join(a b c, d e f);
}
.quoted-text {
  content: join(a b c, d e f, $bracketed: true);
}

.quoted-text {
  content: length(a b c);
}
.quoted-text {
  content: list-separator(a b c);
}

.quoted-text {
  content: nth(a b c, 3);
}
.quoted-text {
  content: set-nth(a b c, 2, x);
}

.quoted-text {
  content: zip(1px 2px 3px, solid dashed dotted, red green blue);
}
