// @import "_colors2.scss";
// @import "_colors.scss";
@use "_colors" as color;
@use "_colors2" as color2;

body {
  margin: 0;
  color: color.$color3;
  background-color: color2.$color4;
  h1 {
    font-size: 2rem;
  }

  a {
    text-decoration: double;
  }
}
.productcard {
    max-width: min-content;
    background-color: color.$color2; 
    padding: 1rem; 
  
    a {
      color: color.$color1; 
    }
  
    > h2 {
      color: pink;
    }
  }


  @mixin customFun($color){
    background-color:aqua;
    padding: 10px;
    border: rebeccapurple;
    cursor: pointer;
  }
  .p1 {
    @include customFun(color.$color1);
  }
  
  .p2 {
    @include customFun(color2.$color2); 
  }
  
  .p3 {
    @include customFun(color.$color3);
  }
  